//Reset CSS & Compass mixins
//---------------------------- 
//@import "compass/reset"
@import "compass"
@import "reset"
@import "http://fonts.googleapis.com/css?family=Ubuntu:300"
//crescendo CSS
//---------------------------- 
//Dimensions
$coverSize: 150px
$shift: 20px
$progressBarHeight: 11px

//Icon Fonts
@font-face 
	font-family: 'CrescendoIcons'
	src: url('../fonts/CrescendoIcons.eot')
	src: url('../fonts/CrescendoIcons.eot?.crescendo-iefix') format('embedded-opentype'),  		url('../fonts/CrescendoIcons.svg#CrescendoIcons') format('svg'), url('../fonts/CrescendoIcons.woff') format('woff'), 		url('../fonts/CrescendoIcons.ttf') format('truetype')
	font-weight: normal
	font-style: normal

//Style
.crescendo-player
	font:
		family: 'Ubuntu', sans-serif
		weight: normal
		size: 22px
	color: white
	height: $coverSize
	width: 100%
	overflow-y: hidden

	& *
		box-sizing: border-box

	& a
		color: inherit
		&:hover, &:active, &:focus, &:visited, &:link
		color: inherit
		text-decoration: underline


	@media screen and (max-width: 320px)
		.crescendo-cover
			display: none

	//Cover
	.crescendo-cover, .crescendo-content
		height: $coverSize

	.crescendo-cover
		+float-left()
		background: url('../img/jamendo-150-op0.3.png')
		max-width: $coverSize

	//Left Side
	.crescendo-content
		+background-image(linear-gradient(top, #32363C, #17191E))
		padding: ($shift - 4) $shift 0 $shift
		overflow: hidden

	.crescendo-title, .crescendo-desc
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		line-height: 1.4em

	.crescendo-desc
		font-size: 15px
		color: #919191

	.crescendo-controls
		margin-top: 10px

	//Buttons
	.crescendo-buttons
		margin-bottom: 5px
		list-style-type: none
		font-size: 22px
		+clearfix()

		li
			float: left
			opacity: 0.6

			&:hover
				cursor: pointer
				opacity: 1

			&.crescendo-btn-activated
				color:  #C6F748

			[data-icon]:before
				font-family: 'CrescendoIcons'
				content: attr(data-icon)
				speak: none

		li.crescendo-btn-repeat
			margin-left: 3px

		li.crescendo-btn-volume
			float: right

	.crescendo-progress, .crescendo-cursor
		border-radius: $coverSize / 2

	.crescendo-progress
		height: $progressBarHeight
		margin-top: 2px
		background: black
		+box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, #0C0C0C 0 1px 4px inset)
		position: relative

	.crescendo-cursor, .crescendo-handle
		position: absolute

	.crescendo-cursor
		height: $progressBarHeight - 2px
		width: 30%
		+background-image(linear-gradient(top, #C6F748, #a7bf69))
		background-color: white
		top: 1px
		left: 1px

	.crescendo-handle
		top: -8px
		left: 28%

	.crescendo-time
		font-size: 13px
		margin-top: 5px

	.crescendo-total-time
		float: left

	.crescendo-time-remaining
		float: right